@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@500&family=Poppins:ital,wght@1,500&family=Roboto&family=Young+Serif&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Young Serif", serif;
}


.receita {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(330, 100%, 98%);
   
}

 .conteiner {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: start;
    flex-wrap: nowrap;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 28px;
    width: 50%;
    padding: 29px 48px;
}

.receita .conteiner img {
    width: 100%;
    border-radius: 10px;
}

.receita .conteiner h1 {
    font-size: 50px;
}

.receita .conteiner p {
    font-size: 1.25rem;
    font-size: 16px;
}

.preparation {
    padding: 0.625rem 1.12rem;
    background-color: hsl(330, 100%, 98%);
}

.preparation h2 {
    font-size: 20px;
    color: hsl(349deg 78.05% 32.99%);

}

.minutos {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1rem 1.75rem;
}


.minutos li p {
    font-size: 16px;
}

.preparation .minutos li::marker {
    color: hsl(332, 51%, 32%)
}

.preparation .minutos li p span {
    font-weight: bold;
    color: black;
}

 li .minutos  {
    padding: 0.625rem 0.25rem;
}

.ingre h2 {
    font-size: 40px;
    color: hsl(349deg 78.05% 32.99%);
}

.ingredients {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 17px;
    padding: 0 23px;
    margin-bottom: 20px;
}

.ingre .ingredients li::marker {
    color: hsl(332, 51%, 32%)
}

.instructions {
    border-top: 1px solid hsl(0deg 0% 0% / 22%);
}

.instructions h2 {
    margin-top: 45px;
    font-size: 40px;
    color: hsl(349deg 78.05% 32.99%);
}

.etapas {
    padding: 0 19px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
    text-align: start;
}

.etapas li {
    padding: 0 16px;
}

.instructions .etapas li::marker {
    color: hsl(349deg 78.05% 32.99%);
}

.instructions .etapas li p span {
    font-weight: bold;
    color: black;
}

.peso {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid hsl(0deg 0% 0% / 22%);
}


.peso p {
    margin-top: 10px;
}

.peso h2 {
    margin-top: 37px;
    font-size: 40px;
    color: hsl(349deg 78.05% 32.99%);
}

.nutri {
    display: table;
    width: 100%;
    font-size: 16px;
    
}

.calories {
    display: table-row;
    border-bottom: 1px solid red;
}   

.calories p {
    margin-top: 10px;
  
}


.calories span {
    display: table-cell;
    color: hsl(349deg 78.05% 32.99%);
    font-size: 16px;
    
}

.calories p, .calories span {
    display: table-cell; 
    padding: 15px; 
    border-bottom:  1px solid hsl(0deg 0% 0% / 22%);
    
  }

  /*MOBILE*/

  @media screen and (max-width:1030px) {
       .receita {
            background-color: black;
          }
       
     .conteiner {
        border-radius: 0;
        margin-top: 0;
        padding: 0 5px;
     
       } 
       
      .conteiner .imagem img {
        border-radius: 0;
        padding: 0 0;
       }

       .receita .conteiner h1 {
        font-size: 20px;
        text-align: center;
       }

       .receita .conteiner p {
        text-align: center;
        
       }

       .preparation h2 {
        font-size: 15px;
      }

       .ingre h2 {
        font-size: 20px;
       }
      .instructions h2 {
        font-size: 20px;
       }
       .peso h2 {
        font-size: 20px;
       }

    
       
 }
  
















